.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #0056b3;
  color: #e7e7de;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo-image {
  width: 200px;
}

.menu-icon {
  height: 20px;
  object-fit: contain;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative;
  
}

.menu-items button {
  background-color: #3e8adb;
  color: #e7e7de;
  border: none;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  width: 150px; 
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items button:hover,
.menu-items button:focus {
  /* background-color: #0f3460; */
  transform: translateY(-2px);
  outline: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 20px;
  width: 110px;
 
  background-color: #0056b3;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown button {
  width: 100%;
  padding: 2px;
  text-align: center;
  font-size: 13px;
  background-color: transparent;
  color: #e7e7de;
  border: none;
  border-radius: 0;
}

.dropdown button:hover {
  background-image: url("../../assets/dropdown-img.png");
  width: 150px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  font-size: 13px;
  font-weight: 800;
  border-radius: 20px;
}

.left-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-item div {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
}

.menu-item .chevron-down {
  margin-left: 10px !important;
  font-size: 16px !important;
}
